extends base
block content
  p Dear Customer, please make your payment via Chapa using the following link at your earliest convenience. Check status of your order using transaction id!
  p - #{url}
  p - Transaction id: #{transactionId}


